
.clock-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .back{
    background: #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    border-radius: 3px;
  }
  .clock-title {
    font-size: 18px;
  }
  
  .clock-controls {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .clock-display {
    font-size: 20px;
    padding: 5px 20px ;
    background: rgb(41,32,108);
    background: linear-gradient(90deg, rgba(41,32,108,0.9668461134453782) 0%, rgba(0,185,255,1) 100%);
    color: white;
  }
  
  select, button{
    padding: 7px 10px ;
    min-width: 100px;
  }
  @media (max-width: 500px){
    select{
        width: 100%;
      }
  }