
.users-list-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .users-list-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .user-entry {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px 20px 15px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: #e4f2fc;
  }
  
  .user-entry:hover {
    background-color: #f0f0f0;
  }
  
  .user-entry > div {
    margin-top: 5px;
  }
  
  